*{
    box-sizing: border-box;
}

body,html{
    margin: 0;
}

.title-container{
    background-color: #454753;
    padding: 20px;
}

.title-container .website-title{
    margin: 0;
    color: white;
}

.main-container{
    display: flex;
    height: 100vh;
}

.main-container .sidebar p, .main-container .current-page h1{
    margin: 0;
}

/* ------------------Sidebar--------------------- */

.main-container .sidebar{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 50px;
    /* padding: 20px 0; */
    padding: 20px;
}

.main-container .sidebar .time-sort{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sidebar-container{
    /* width: max(80%,100px); */ width: 100%;
    display: flex;
    justify-content: flex-start;
    border-radius: 5px;
    transition: all 300ms;
    padding: 5px;
}

.sidebar-container p{
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-container:hover{
    cursor: pointer;
    background-color: darkgrey;
}

.main-container .current-page{
    background-color: whitesmoke;
    display: flex;
    flex-basis: 75%;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.main-container .current-page .add-todo-item{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.main-container .current-page .add-todo-item .add-todo-item-text:hover{
    background-color: darkgray;
    cursor: pointer;
}

.main-container .current-page .add-todo-item .add-todo-item-text{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    margin: 0;
    transition: all 300ms;
    padding: 5px;
    border-radius: 5px;
}

/* ------------------------Form---------------------------- */

.add-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.main-container .current-page .add-form{
    border-radius: 5px;
    width: 80%;
}

.add-form input[type="text"]{
    width: 80%;
    text-align: center;

    width: 100%;
}

.add-form .buttons-container{
    display: flex;
    gap: 20px;

    width: max(100px,70%);
    justify-content: center;
    align-items: center;
}

.add-form .buttons-container .add-button{
    background-color: #009900;
    border: none;
    color: white;
}

.add-form .buttons-container .add-button:hover{
    background-color: #17B169;
}

.add-form .buttons-container .cancel-button{
    background-color: #AA0000;
    border: none;
    color: white;
}

.add-form .buttons-container .cancel-button:hover{
    background-color: #fd5c63;
}

.add-form .buttons-container button{
    /* width: 100px; */
    cursor: pointer;
    padding: 5px 10px;
    transition: all 300ms;

    width: max(50px,40%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------------------Todo Items--------------------------- */
.current-page .todo-items{
    padding: 2px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.current-page .todo-items .todo-item{
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: darkgray;
}

.current-page .todo-items .todo-item .todo-item-left, .current-page .todo-items .todo-item .todo-item-right{
    display: flex;
    align-items: center;
    gap: 15px;
}

.current-page .todo-items .todo-item .todo-item-right .todo-item-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.current-page .todo-items .todo-item .todo-item-left .todo-item-check{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
}

.current-page .todo-items .todo-item .todo-item-left .todo-item-title{
    margin: 0;
}   

.current-page .todo-items .todo-item .todo-item-right .todo-item-date-container .todo-item-date{
    margin: 0;
    cursor: pointer;
}


/* ---------------------Project--------------------------- */

.main-container .sidebar .projects .projects-title{
    margin: 0;
}

.main-container .sidebar .projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.main-container .sidebar .projects .projects-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.main-container .sidebar .projects .add-project-container{
    display: flex;
    justify-content: space-between;
}

.main-container .sidebar .projects .projects-list .user-project{
    display: flex;
    justify-content: space-between;
}

.sidebar-container .add-project{
    width: 100%;
    justify-content: flex-start;
}

/* -----------------Media Queries----------------------- */
@media(max-width: 700px){
    .main-container .projects .projects-title{
        font-size: max(4vw,16px);
    }

    .main-container .sidebar .sidebar-container, .main-container .sidebar .sidebar-container span{
        font-size: max(2vw,12px);
    }

    .main-container .current-page .current-page-title{
        font-size: max(4vw,16px);
    }

    .main-container .current-page .add-todo-item .add-todo-item-text, .main-container .current-page .add-todo-item span{
        font-size: max(2vw,12px);
    }

    .main-container .current-page .todo-items .todo-item, .main-container .current-page .todo-items .todo-item span{
        font-size: max(2.5vw,10px);
        padding: 5px;
    }

    .main-container .current-page .todo-items .todo-item .todo-item-right{
        gap: 2px;
    }
}

@media(max-width: 400px){
    .title-container{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: max(5vw,14px);
    }
}